<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Gemini 8 Template</title>
        <meta name="keywords" content="" />
        <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

        <!-- Styles -->
        <link rel="stylesheet" href="css/font-awesome.min.css">                 
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css"> 
        <link rel="stylesheet" href="css/animate.css">                  
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/black.css" type="text/css">            
        <link rel="stylesheet" href="css/color.css" type="text/css">                
        <link rel="stylesheet" href="css/responsive.css" type="text/css">	

    </head>

    <body class="black" itemscope onLoad="goforit()">

        <div class="theme-layout">

            <header class="style1">
                <div class="top-bar">
                    <div class="container">
                        <div class="current-time">
                            <span id="clock"><small>Thursday, July 14, 2017</small></span>
                            <ul>
                                <li><a href="#" title="">Blog</a></li>
                                <li><a href="#" title="">contact</a></li>
                                <li><a href="#" title="">buy now!</a></li>
                            </ul>
                        </div>
                        <div class="login-register">
                            <a href="#" title="">Login / Register</a>
                            <div class="login-wraper">
                                <div class="login-popup">
                                    <img itemprop="image" src="images/resource/login-background.jpg" alt="">
                                    <span class="close"><i class="fa fa-close"></i></span>
                                    <b>Best Membership You?</b>
                                    <h3 itemprop="headline">Sign in / Signup</h3>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form method="post">
                                                <label>
                                                    <input placeholder="Complete Name" class="username" type="text">
                                                </label>

                                                <label>
                                                    <input placeholder="Email Address" class="password" type="email">
                                                </label>

                                                <button><i class="fa fa-paper-plane"></i>SIGN IN</button>
                                                <span>New here?</span>
                                                <a itemprop="url" href="#" title="">Create an Account</a>
                                                <label><input class="check" type="checkbox"><i>Remember My Password?</i></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="social-btns">
                            <li><a href="#" target="_blank" title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div><!-- Top Bar -->
                <div class="logo-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="logo">
                                    <a title="#" href="/"><img alt="headline" src="images/logo.png"></a>
                                </div>
                            </div>
                    </div>
                </div><!-- Logo Bar -->
                <div class="menu-bar dark">
                    <div class="container">
                        <nav>
                            <ul>
                                <li><a href="/" title="">Home</a> </li>
                               .
                                <li><a href="/about" title="">About Us</a></li>
                                <li><a href="/contact" title="">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div><!-- Menu Bar -->
            </header><!-- Header -->

            <div class="responsive-header">
                <div class="res-logo-area">
                    <div class="col-sm-9 col-xs-6">
                        <a href="#" title=""><img src="images/logo2.png" alt=""></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div id="nav-icon3">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="responsive-menu">
                    <a href="#" title=""><img src="images/logo2.png" alt=""></a>
                    <ul>
                        <li><a href="/" title="">Home</a>
                        </li>
                        <li><a href="/about" title="">About Us</a></li>
                        <li><a href="/contact" title="">Contact Us</a></li>
                    </ul>
                    <ul class="little-info">
                        <li><i class="fa fa-phone-square"></i><span>+971 8753563</span></li>
                        <li><i class="fa fa-envelope"></i><span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="97dbfef1f2f6fef3d7f0faf6fefbb9f4f8fa">[email&#160;protected]</a></span></li>
                    </ul>
                </div>
                
                <ul class="socials">
                    <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="" class="google"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div><!-- responsive header -->