



            <%- include('header') %> <!-- Include header.ejs -->

            <section>
                <div class="gap">
                    <div class="container">
                        
                            <div class="col-sm-12">
                                <div class="hl-feature-posts colored">
                                    <img src="images/resource/featured-style3-1.jpg" alt="">
                                    <div class="hl-post-meta">
                                        <h3><a href="#" >A mondern media and creative management company</a></h3>
                                        <h4><a href="#" title="">GEMINI8 INC</a></h4>
                                        <br>
                                        <span><i class="fa fa-facebook-official"></i><ins>1.5k</ins>Facebook</span>
                                        <span><i class="fa fa-twitter"></i><ins>1.5k</ins>Tweets</span>
                                    </div>
                                </div>
                            </div>

                        
                    </div>
                </div>
            </section><!-- featured style 4 -->
            <section>
                <div class="gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="blog-single">
                                    <ul class="share-links">
                                        <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
                                        <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i><span>Share on twitter</span></a></li>
                                        <li><a href="#" title="" class="google"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#" title="" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                    <div class="single-avatar">
                                        <img src="images/resource/single-avatar.jpg" alt="">
                                    </div>
                                    <div class="single-post-info">
                                        <span>by <a href="" title=""><b>Afolabi Ajomale</b></a> <a href="" title=""><ins> December 19, 2019</ins></a> </span>
                                        <ul class="views-comments">
                                            <li><i class="fa fa-eye"></i>140</li>
                                            <li><i class="fa fa-comments-o"></i>870</li>
                                        </ul>
                                    </div>
                                    <div class="single-post-detail">
                                        <a href="#" title="" class="category">technology</a>
                                        <h1>Why do we need a modern media company?</h1>
                                        <p>Media companies are experts in organizing, covering, and promoting live events, conferences, and product launches. They provide the infrastructure to produce and distribute high-quality content around such events.</p>
                                        <p>Because traditional forms of media need an upgrade and the pandemic got us TO evolve VIRTUALLY & we are good at virtual
                                            event production.</p>
                                        <p>We also help with public relations, creating narratives and stories that position a brand or individual in a positive light, especially in times of crisis or need for image enhancement.
                                            .</p>
                                        <blockquote>
                                            a media company helps organizations or individuals craft and manage their narratives, ensure their messages are delivered to the right people, and maximize the impact of their content..
                                        </blockquote>
                                        <p>Provide the expertise to distribute content across various channels—TV, digital platforms, social media, podcasts, etc.—ensuring it reaches the right audience through the most effective platforms..</p>

                                        <ul class="tag">
                                            <li><span>tags</span></li>
                                            <li><a href="#" title="">facebook</a></li>
                                            <li><a href="#" title="">instagram</a></li>
                                            <li><a href="#" title="">twitter</a></li>
                                        </ul>
                                        <div class="author">
                                            <div class="author-avatar">
                                                <img src="images/resource/author.jpg" alt="">
                                            </div>
                                            <div class="author-about">
                                                <h4>George Dune</h4>
                                                <p>It’s rare to find a company that offers such high-quality products and such excellent customer service. I will definitely be recommending Gemini 8 to my friends and family, and I look forward to working with you again in the future!

                                                    Thank you once again for making this such a positive experience.</p>
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <aside>
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>Target market</h4>
                                        </div>
                                        <div class="progress-caro">
                                            <div class="progress-unit">
                                               
                                                <div class="post-progress">
                                                    <img src="images/resource/progressbar-post-1.jpg" alt="">
                                                    <span><a href="#" title="">Corporate events (AGM,
                                                        Conferences,trainings,seminars)</a></span>
                                                </div>
                                            </div>
                                            <div class="progress-unit">
                                                <div class="post-progress">
                                                    <img src="images/resource/progressbar-post-2.jpg" alt="">
                                                    <span><a href="#" title="">Parties( Weddings, Funerals,
                                                        Birthdays, etc)</a></span>
                                                </div>
                                            </div>
                                            <div class="progress-unit">
                                                <div class="post-progress">
                                                    <img src="images/resource/progressbar-post-3.jpg" alt="">
                                                    <span><a href="#" title="">bloggers, creative campaigns,
                                                        virtualconcerts, virtuallive
                                                        sessions</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- progressbar carousel -->
                                  
                                        <div class="widget-title">
                                            <h4>Services</h4>
                                        </div>
                                        <ul class="tags-cloud">
                                            <li><a href="#" title="">virtual event production</a></li>
                                            <li><a href="#" title="">Live production for events of anysize & event management</a></li>
                                            <li><a href="#" title="">Event videography & photography</a></li>
                                            <li><a href="#" title="">Virtual Studios</a></li>
                                            <li><a href="#" title="">Social media management</a></li>
                                            <li><a href="#" title="">Talent management & representation</a></li>
                                        </ul>
                                    </div><!-- tags cloud -->
                                   
                                </aside>
                            </div><!-- side-widgets -->
                        </div>
                    </div>
                </div>
            </section><!-- single page data -->

            <section>
                <div class="gap no-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="sec-heading strips">Our Values</h4>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <h2><a href="single.html" title="">Commitment to customers/a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2020</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <h2><a href="single.html" title="">Originality & Innovation</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2020</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <h2><a href="single.html" title="">Reliability & Diversity</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2019</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <h2><a href="single.html" title="">Undistinguishable Class</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2023</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- weekly gird post md3 -->

            <section>
                <div class="gap blackish low-opacity">
                    <div class="parallax" style="background:url(images/resource/parallax-2.jpg);" data-velocity="-.2"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ads">
                                    <a href="#" title=""><img src="images/resource/ad__.jpg" title="" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--parallax Ads-->



            <%- include('footer') %> <!-- Include footer.ejs -->

         